.contaner__advantages {
  @media screen and (max-width: 767px) {
    padding: 0px 20px;
  }
  @media screen and (max-width: 1279px) {
    padding: 0px 36px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 115pxpx;
  }
}
