.modal-about__backdrop {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  background-image: linear-gradient(to right, rgba(238, 174, 202, 0.8), rgba(178, 181, 184, 0.6));
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.modal-about {
  overflow: hidden;
  text-align: center;
  position: relative;

  max-width: 75vw;
  height: 75vh;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-image: linear-gradient(
    to right top,
    rgba(211, 45, 117, 0.8),
    rgba(238, 174, 202, 0.8),
    rgba(170, 65, 170, 0.6)
  );

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px 20px 30px 20px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: left;
    padding: 52px 27px 32px 27px;

    transform: translate(-50%, -50%) scale(1);
    // max-width: 700px;
    // min-height: 760px;
    // width: 100%;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1056px;
    // min-height: 1128px;
  }
}

body.modal-about-menu--visible {
  overflow: hidden;
}

// .backdrop.visually-hidden .modal-about {
//   transform: translate(-50%, -50%) scale(1.2);
// }

.modal-about__title {
  @media screen and (max-width: $mobile-only) {
    font-size: 20px;

}}


.modal-button__close {
  width: 40px;
  height: 40px;
  background-color: var(--main-bgc);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-button__icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-color);
}

.contact-modal__title {
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.contact-modal__img {
  @media screen and (max-width: $mobile-only) {
    display: none;
  }
  display: block;
  position: absolute;
  top: 40px;
  right: 80px;
  width: 168px;
  height: 133px;
  z-index: -1;

  @media screen and (min-width: $desktop) {
    top: 40px;
    right: 80px;
    width: 300px;
    height: 300px;
  }

  &::after {
    content: '';
    background-image: url('../images/Contacts/ellipse.svg');
    background-repeat: no-repeat;

    @media screen and (max-width: $mobile-only) {
      display: none;
    }
    @media screen and (min-width: $tablet) {
      height: 324px;
      width: 322px;
      position: absolute;
      top: -120px;
      right: -120px;
      z-index: -2;
    }
    @media screen and (min-width: $desktop) {
      top: -120px;
      right: -15px;
    }
  }
}


// =======modal buy block контейнер для формы и кругов

.modal-about__block {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
  
  overflow-x: hidden;
  height: 44vh;
  margin-bottom: 20px;
  margin-top: 20px;

  @media screen and (min-width: $mobile) {
    // height: 50vh;
  }
}



// здесь начинается описание продукта

.modal-about__write {
  margin-bottom: 20px;
  width: 60vw;
}

.modal-about__label {
  position: sticky;
  top: -1px;

  margin: 0;
  padding: 16px;
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
  outline: var(--accent-color);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.modal-about__text {
  
  // overflow-x: hidden;

  margin-top: 30px;
}

// здесь заканчивается описание продукта




// кнопка невозврата


.up-button__cover {
  position: fixed;
  right: 26px;
  bottom: 26px;
  z-index: 2;

  padding: 16px;
  border-radius: 50%;
  border: solid 9px var(--mobile-menu-bgc);
  // border: solid 6px greenyellow;

  // &:hover,
  // &:focus {
  //   // background-color: var(--hover-button-bgc);
  //   // box-shadow: -2px 3px 4px var(--hover-button-shadow);
  //   // transform: scale(0.95);
   
    

  //   // box-shadow:   -2px 3px 15px var(--dark-brand-color),
  //   //               0px 1px 10px var(--dark-brand-color), 
  //   //               3px 1px 6px var(--dark-brand-color);

  //   // box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);             
  // }

  @media screen and (max-width: $mobile-only) {
    right:    25px;
    bottom:   25px;
    padding:  14px;
  }

}


.up-button {
  position: fixed;
  right:  30px;
  bottom: 30px;
  z-index: 2;

  border-radius: 50%;
  border: none;
  display: inline-block;
  width:  44px;
  height: 44px;

  margin: 0;
  padding: 0;
  background-color: var(--hover-button-bgc);
 
  animation: animate-up 2000ms infinite 2000ms;
  box-shadow: inset 0 0 10px 5px var(--brand-color); 

  @media screen and (max-width: $mobile-only) {
    width:  36px;
    height: 36px;
    background-color: var(--brand-color);
  }

  &:hover,
  &:focus {
    
    // box-shadow: -2px 3px 4px var(--hover-button-shadow);
    transform: scale(0.95);
    // border: 1px solid var(--hover-button-border);
    background-color: var(--mobile-menu-bgc);

    // box-shadow:   -2px 3px 15px var(--dark-brand-color),
    //               0px 1px 10px var(--dark-brand-color), 
    //               3px 1px 6px var(--dark-brand-color);

    box-shadow: inset 0 0 10px 5px var(--brand-color);             
  }

}


@keyframes animate-up {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-135deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}